// flex helpers

.grid {
    display: grid;
}

hr {
    border: 1px solid red;
}

.flex {

    display: flex;

    >*.full {
        flex: 1;
    }

    &.gap {
        gap: 20px;
    }
    &.column {
        flex-direction: column;
    }

    &.justify-center {
        justify-content: center;
    }

    &.align-center {
        align-items: center;
    }

    &.space-between {
        justify-content: space-between;
    }
}

.height {
    height: 322px;
}

.overflowY {
    overflow-y: hidden;
}

.text-decoration {
    text-decoration: none;
    color: rgb(233, 233, 233);
}

.pointer{
    cursor: pointer;
}